#!/usr/bin/env bash
set -eufo pipefail

# install homebrew
if ! type brew &>/dev/null; then
  bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# install required packages
{{ .homebrewExec }} install git age chezmoi
