#!/usr/bin/env bash

set -euo pipefail

export PATH="{{ .homebrewBin }}:$PATH"

{{ $ageKey := joinPath .XDG_DATA_HOME "age_secret_key" -}}
if [ ! -f "{{ $ageKey }}" ]; then
  age --decrypt --output {{ $ageKey | quote }} {{ joinPath .chezmoi.sourceDir ".age_secret_key.age" | quote }}
  chmod 600 {{ $ageKey | quote }}
fi
