#!/usr/bin/env bash
set -eufo pipefail

{{ $ageKey := joinPath .chezmoi.homeDir ".local" "share" "age_secret_key" -}}
if [ ! -f "{{ $ageKey }}" ]; then
    age --decrypt --output "{{ $ageKey }}" "{{ joinPath .chezmoi.sourceDir ".age_secret_key.age" }}"
    chmod 600 "{{ $ageKey }}"
fi
