{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
set -eufo pipefail

# set Hammerspoon config file to ~/.config/hammerspoon/init.lua
defaults write org.hammerspoon.Hammerspoon MJConfigFile "{{ .chezmoi.homeDir }}/.config/hammerspoon/init.lua"
{{- end }}
