{{- $validMachineTypes := list "MAC" "SERVER" -}}
{{- $machineType := promptStringOnce . "machine_type" (printf "Machine type [%s]" ($validMachineTypes | join "|")) | default (first $validMachineTypes) -}}
{{- if not (has $machineType $validMachineTypes) -}}
  {{- writeToStdout (printf "Invalid machine type. Valid machine types are: [%s]\n" ($validMachineTypes | join "|")) -}}
  {{- exit 1 -}}
{{- end -}}

{{- $homebrew_prefix := "/home/linuxbrew/.linuxbrew" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $homebrew_prefix = "/opt/homebrew" -}}
  {{- else -}}
    {{- $homebrew_prefix = "/usr/local" -}}
  {{- end -}}
{{- end -}}

data:
  name: MuXiu1997
  email: muxiu1997@gmail.com
  machine_type: {{ $machineType | upper | squote }}
  homebrew_prefix: {{ $homebrew_prefix | squote }}

encryption: age
age:
  identity: {{ .chezmoi.homeDir }}/Library/Mobile Documents/com~apple~CloudDocs/age_secret_key
  recipient: age10728gga2gmz5jpgqzca65sx6h3sew53lvksylv24fhz62gqmr59sg3y00h

diff:
  exclude:
    - scripts
  pager: LESS='Rmc' delta --features 'default paging'

merge:
  command: nvim
  args: [ '-d', '{{ "{{ .Destination }}" }}', '{{ "{{ .Source }}" }}', '{{ "{{ .Target }}" }}' ]
