{{- $homebrewPrefix := "/home/linuxbrew/.linuxbrew" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $homebrewPrefix = "/opt/homebrew" -}}
  {{- else -}}
    {{- $homebrewPrefix = "/usr/local" -}}
  {{- end -}}
{{- end -}}

{{/* Define available tags */}}
{{- $availableTags := list "personal" "work" -}}
{{- $defaultTags := list -}}

{{/* Prompt user to select tags during initialization */}}
{{- $tagPrompt := `选择使用场景 (可多选):
- personal: 个人使用
- work: 工作使用` -}}

{{- $selectedTags := promptMultichoiceOnce . "tags" $tagPrompt $availableTags $defaultTags -}}

{{/* Add darwin tag automatically if on macOS */}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $selectedTags = append $selectedTags "darwin" | uniq -}}
{{- end -}}

data:
  deviceId: UNUSED
  name: MuXiu1997
  email: muxiu1997@muxiu1997.com
  workName: MuXiu1997(邹昆峰)
  workEmail: zoukunfeng@kanyun.com

  # Tags for managing different configurations and dependencies
  # Available tags: personal, work, darwin (auto-added on macOS)
  tags: {{ $selectedTags | toYaml | nindent 4 }}

  homebrewPrefix: {{ $homebrewPrefix | squote }}
  homebrewBin: {{ joinPath $homebrewPrefix "bin" | squote }}
  homebrewExec: {{ joinPath $homebrewPrefix "bin" "brew" | squote }}

  XDG_CONFIG_HOME: {{ joinPath .chezmoi.homeDir ".config" | squote }}
  XDG_CACHE_HOME: {{ joinPath .chezmoi.homeDir ".cache" | squote }}
  XDG_DATA_HOME: {{ joinPath .chezmoi.homeDir ".local" "share" | squote }}
  XDG_STATE_HOME: {{ joinPath .chezmoi.homeDir ".local" "state" | squote }}
  XDG_RUNTIME_DIR: {{ if eq .chezmoi.os "darwin" }}${TMPDIR}{{ else }}/run/user/${UID}{{ end }}

encryption: age
age:
  identity: {{ joinPath .chezmoi.homeDir ".local" "share" "age_secret_key" }}
  recipient: age10728gga2gmz5jpgqzca65sx6h3sew53lvksylv24fhz62gqmr59sg3y00h

diff:
  exclude:
    - scripts
  pager: LESS='Rmc' delta --features 'default paging'

{{ if eq .chezmoi.os "darwin" -}}
merge:
  command: idea-wait
  args:
    {{- list "merge" "{{ .Destination }}" "{{ .Target }}" "{{ .Source }}" | toYaml | nindent 4 }}
{{- end }}