# ================================ Oh My Zsh ================================= #
['.config/oh-my-zsh']
type = 'archive'
url = 'https://github.com/ohmyzsh/ohmyzsh/archive/master.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md', '*/.devcontainer', '*/themes', '*/plugins']
# ============================================================================ #


# ============================ Oh My Zsh plugins ============================= #
['.config/oh-my-zsh/custom/plugins/command-not-found']
type = 'archive'
url = 'https://github.com/ohmyzsh/ohmyzsh/archive/master.zip'
exact = true
stripComponents = 3
refreshPeriod = '168h'
include = ['*/plugins/command-not-found/**']

['.config/oh-my-zsh/custom/plugins/zsh-autosuggestions']
type = 'archive'
url = 'https://github.com/zsh-users/zsh-autosuggestions/archive/master.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']

['.config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting']
type = 'archive'
url = 'https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']

['.config/oh-my-zsh/custom/plugins/zsh-vi-mode']
type = 'archive'
url = 'https://github.com/jeffreytse/zsh-vi-mode/archive/{{ template "gitHubLatestTag" "jeffreytse/zsh-vi-mode" }}.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']

['.config/oh-my-zsh/custom/plugins/fzf-tab']
type = 'archive'
url = 'https://github.com/Aloxaf/fzf-tab/archive/master.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']
# ============================================================================ #


# ============================= Oh My Zsh themes ============================= #
['.config/oh-my-zsh/custom/themes/powerlevel10k']
type = 'archive'
url = 'https://github.com/romkatv/powerlevel10k/archive/{{ template "gitHubLatestTag" "romkatv/powerlevel10k" }}.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']
# ============================================================================ #


# ============================== Ranger plugins ============================== #
['.config/ranger/plugins/ranger_fzf_filter']
type = 'archive'
url = 'https://github.com/MuXiu1997/ranger-fzf-filter/archive/main.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']

['.config/ranger/plugins/ranger_airdrop']
type = 'archive'
url = 'https://github.com/MuXiu1997/ranger-airdrop/archive/main.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']

['.config/ranger/plugins/ranger_yoink']
type = 'archive'
url = 'https://github.com/MuXiu1997/ranger-yoink/archive/main.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']

['.config/ranger/plugins/ranger_devicons']
type = 'archive'
url = 'https://github.com/alexanderjeurissen/ranger_devicons/archive/main.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']

['.config/ranger/plugins/ranger_zoxide']
type = 'archive'
url = 'https://github.com/jchook/ranger-zoxide/archive/master.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']
# ============================================================================ #


# =============================== Hammerspoon ================================ #
['.config/hammerspoon']
type = 'archive'
url = 'https://github.com/MuXiu1997/dot-hammerspoon/archive/dist.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']
# ============================================================================ #


# ================================= Wezterm ================================== #
['.config/wezterm']
type = 'archive'
url = 'https://github.com/MuXiu1997/dot-wezterm/archive/dist.zip'
exact = true
stripComponents = 1
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']
# ============================================================================ #


# =================================== Nvim =================================== #
['.config/nvim']
type = 'archive'
url = 'https://github.com/MuXiu1997/nvim/releases/download/{{ template "gitHubLatestTag" "MuXiu1997/nvim" }}/nvim.zip'
exact = true
refreshPeriod = '168h'
exclude = ['*/.github', '*/*.md']
# ============================================================================ #


# =================================== bin =================================== #
['.local/bin/goet']
type = 'file'
url = 'https://github.com/MuXiu1997/goet/releases/download/{{ template "gitHubLatestTag" "MuXiu1997/goet" }}/goet_{{ .chezmoi.os }}_{{ .chezmoi.arch }}'
executable = true
refreshPeriod = '168h'
# ============================================================================ #


# ============================= zsh completions ============================== #
{{ if lookPath "docker" -}}
{{- $dockerVersion := output "docker" "--version" | replaceAllRegex ".*?(\\d+?\\.\\d+?\\.\\d+?).*" "$1" | trim -}}
['.local/share/zsh/site-functions/_docker']
type = 'file'
url = 'https://raw.githubusercontent.com/docker/cli/v{{ $dockerVersion }}/contrib/completion/zsh/_docker'
refreshPeriod = '168h'
{{- end }}

{{ if lookPath "docker-compose" -}}
['.local/share/zsh/site-functions/_docker-compose']
type = 'file'
url = 'https://raw.githubusercontent.com/docker/compose/1.29.2/contrib/completion/zsh/_docker-compose'
refreshPeriod = '168h'
{{- end }}

{{ if lookPath "mvn" -}}
['.local/share/zsh/site-functions/_mvn']
type = 'file'
url = 'https://github.com/zsh-users/zsh-completions/raw/master/src/_mvn'
refreshPeriod = '168h'
{{- end }}

{{/*
nvm may have been installed but nvm.sh is not loaded,
the judgment criterion is whether nvm has been installed
*/ -}}
{{ if and (lookPath "brew") (output "brew" "list" "--formula" "-1" | splitList "\n" | has  "nvm") -}}
['.local/share/zsh/site-functions/_nvm']
type = 'file'
url = 'https://github.com/zsh-users/zsh-completions/raw/master/src/_nvm'
refreshPeriod = '168h'
{{- end }}

{{ if lookPath "go" -}}
['.local/share/zsh/site-functions/_go']
type = 'file'
url = 'https://github.com/zsh-users/zsh-completions/raw/master/src/_golang'
refreshPeriod = '168h'
{{- end }}

{{ if lookPath "node" -}}
['.local/share/zsh/site-functions/_node']
type = 'file'
url = 'https://github.com/zsh-users/zsh-completions/raw/master/src/_node'
refreshPeriod = '168h'
{{- end }}

{{ if lookPath "direnv" -}}
['.local/share/zsh/site-functions/_direnv']
type = 'file'
url = 'https://github.com/zsh-users/zsh-completions/raw/master/src/_direnv'
refreshPeriod = '168h'
{{- end }}
# ============================================================================ #
