# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# see https://github.com/CppCXY/EmmyLuaCodeStyle
[*.lua]
quote_style = single
trailing_table_separator = always
end_statement_with_semicolon = same_line
align_continuous_rect_table_field = true