{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -e

# install homebrew
if ! type brew &>/dev/null
then 
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

if ! type git &>/dev/null
then 
    brew install git
fi
{{ end -}}
