{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh
set -e

# install homebrew
if ! type brew &>/dev/null; then 
    /bin/zsh -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ end -}}
