{{- if (has "work" .tags) -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD+E8JKQj+XUbbdflsHBmHmgO7SZHJZP7Eu7nmeKu9OoMAh9AvsYHiYxey9La78NyGrFJilg5DI3w2ZgwHFNgXz+MVLbiWkjRr2fPmHppkZxBf/Sqb2TLzKbY8qUbhycNVNTc0OwqskzGEGnmHSapV+wHJFtBBicWWY/jZYhOOCiwUpNmnw6fWNMLR0pdJLpLELWprR35e+Ai3WFObhIUTWv6Row2yqfy+B821F+JbzoJUws9ZqjwtM5NfNUUVSnmgNa+E3WD+Aks0TtUXswUrzXHp46on8FG+miIB57R3v0z9K0OtdZazoLf72mfchzl6N2082+nVbJZXxBg9GeAkcRwXLxGK+QswbIPfwXBpN+tZT6sWHmWvMwcxin/N3EFxYxN10XynLS3D82YuIAUHHDUX5ATHbnneYkQSHJcoVLmDeqHn+EwEUNRdL/d8ZbnMwEiVCBixEsAGdL9xLvcmhOapDjY2e+ZsRSx/JEI80y4m91X4TCXQZWgnM8NHLIlJce+r/3MR8+Yc3cKjXmhN5bMB9XCwLxMCAk5nvoT7j1Qsj4Wku1bOy4eh1N1tP9cBmRVHrJIWcRUyW6rEfefRJQ+KsM8H7El9RuTBHfw/W00qY9P74d7F9j7Js6jp3ezkl8K7rUKENPVhtfVOPDTa8i3vGLwwdOGT4lKA8dTX1uw== zoukunfeng@kanyun.com
{{- else if (has "personal" .tags) -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDfEYqSNJLKG92Bi+k9Y884Nlsg8CHSnr+3VmPPURhD8Vcco+ihrp3FaF8kUfg6w7DV0jgeIr1cz/ExadKvw8vgsIZKHWIqeuvZPmXaWkNRbX7a5uoednYjpA1YCcYh/OqhzQCJ/IIgvGc33Ob0vOG8QMtk3nmRZzY295ta+/SXAFWbsZu8WtSncd4pDzHPklg3SsFW6SjOaLMSaw3Vg3uBXLKLg9PWLL/6lHb35Srw3uXWwqN907gissvQk0tYyDIENxuAmvpKB+jvhJp90EBvvZPdY02cgRV3Cba7iCcOD06GSTnumW+qdgaQ3ryaOOizZWSRFV7S+FbaRlaY/nsBY/tJg3iiCO0SG7XuKYF5sbeFBcnDAe5nkO75wwE2NsFznoVUTVozCH8ou30ch9XQQ8dQhMlLewT3OMZnz16sS1YiDPsQ5VrESbPzgEUCjRpSQJ7msDXqFCIMm4ATxP5/seEr/vXyvx69j1JFDOuhj3IM8R6k4ymQKLPixeN3LLdRwAvAM0bVSrb52Mr31kJcyx8ucMQq+iONYoD1RU8a4VW87/lVr18Bo82egi8RBXmImcFlx2g9CuRA+CS06A7XLCS4zOrPkEkFOzbtM2zeRm1Wf4Np76W5XnUA8lsycdAqQBl2W6QcHDS12YS59CjxcqlmU+oZu6Ki8j6+HmR++w== muxiu1997@muxiu1997.com
{{- end -}}
