[user]
    name = MuXiu1997
    email = {{ .email }}
    signingkey = FF066B943A937BD1
[init]
    defaultBranch = main
[core]
    autocrlf = input
    ignorecase = false
[include]
    path = ../delta/config
[push]
    default = current
[commit]
    gpgsign = true
{{/*
# vim: set ft=gitconfig:
*/}}
