[user]
    name = MuXiu1997
    email = {{ .email }}
    signingkey = 82F1FFED9115B00C
[init]
    defaultBranch = main
[core]
    autocrlf = input
[include]
    path = ../delta/config

[push]
    default = current
[commit]
    gpgsign = true

