typeset -U path fpath

export DEVICE_ID="{{ .deviceId }}"

# { Helpers
  function file_exists() {
    [[ -f "$1" ]] && return 0 || return 1
  }

  function file_exists_then_source() {
    file_exists "$1" && source "$1"
  }

  function command_exists() {
    type "$1" &>/dev/null && return 0 || return 1
  }
# }

# { XDG
  export XDG_CONFIG_HOME="{{ .XDG_CONFIG_HOME }}"
  export XDG_CACHE_HOME="{{ .XDG_CACHE_HOME }}"
  export XDG_DATA_HOME="{{ .XDG_DATA_HOME }}"
  export XDG_STATE_HOME="{{ .XDG_STATE_HOME }}"
  export XDG_RUNTIME_DIR="{{ .XDG_RUNTIME_DIR }}"
# }

# { Zsh
  export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"

  readonly OVERRIDE_HISTFILE="${XDG_STATE_HOME}/zsh/history"
  export HISTFILE="${OVERRIDE_HISTFILE}" # will be overwritten in /etc/zshrc and needs to be set again.

  readonly OVERRIDE_HISTSIZE="999999999"
  export HISTSIZE="${OVERRIDE_HISTSIZE}" # will be overwritten in /etc/zshrc and needs to be set again.

  readonly OVERRIDE_SAVEHIST="${OVERRIDE_HISTSIZE}"
  export SAVEHIST="${OVERRIDE_SAVEHIST}" # will be overwritten in /etc/zshrc and needs to be set again.
# }

# { Homebrew
  path=($path "{{ .homebrewBin }}")
  fpath=($fpath "{{ .homebrewPrefix }}/share/zsh/site-functions")
  export HOMEBREW_BREWFILE="{{ .brewfile }}"
# }

# { Tmux
  export TMUX_PLUGIN_MANAGER_PATH="${XDG_CONFIG_HOME}/tmux/plugins"
  export __TMUX_MOUSE="{{ if eq .chezmoi.os "darwin" }}on{{ else }}off{{ end }}"
# }

# { Zoxide
  export _ZO_DATA_DIR="$XDG_DATA_HOME"
# }

# { Ranger
  export RANGER_LOAD_DEFAULT_RC="FALSE"
# {

# { Git
  export GIT_CONFIG_GLOBAL="${XDG_CONFIG_HOME}/git/config"
# }

# { Lazygit
  export LG_CONFIG_FILE="${XDG_CONFIG_HOME}/lazygit/config.yml"
# }

# { Less
  export LESS="Rmc"
# }

# { Wget
  export WGETRC="${XDG_CONFIG_HOME}/wgetrc"
# }

# { Tldr
  export TLDR_ALLOW_INSECURE="1"
# }

# { Nvm
  export NVM_DIR="${XDG_DATA_HOME}/nvm"
# }

# { Npm
  export NPM_CONFIG_USERCONFIG="${XDG_CONFIG_HOME}/npm/npmrc"
# }

# { Ni
  export NI_CONFIG_FILE="${XDG_CONFIG_HOME}/ni/nirc"
# }

# { Pnpm
  path=("${XDG_DATA_HOME}/pnpm/bin" $path)
# }

# { Deno
  export DENO_DIR="${XDG_CACHE_HOME}/deno"
  export DENO_INSTALL_ROOT="${XDG_DATA_HOME}/deno/bin"
  path=("${DENO_INSTALL_ROOT}" $path)
# }

# { Pyenv
  export PYENV_ROOT="${XDG_DATA_HOME}/pyenv"
# }

# { Goenv
  export GOENV_ROOT="${XDG_DATA_HOME}/goenv"
# }

# { Go
  export GOPATH="${XDG_DATA_HOME}/go"
  export GOBIN="${GOPATH}/bin"
  export GOMODCACHE="${GOPATH}/pkg/mod"
  export GOPROXY="https://goproxy.cn,direct"
  path=("${GOBIN}" $path)
# }

# { Poetry
  export POETRY_CONFIG_DIR="${XDG_CONFIG_HOME}/poetry"
  export POETRY_DATA_DIR="${XDG_DATA_HOME}/poetry"
  export POETRY_CACHE_DIR="${XDG_CACHE_HOME}/poetry"
  export POETRY_VIRTUALENVS_IN_PROJECT=true
# }

# { Jenv
  export JENV_ROOT="${XDG_DATA_HOME}/jenv"
# }

# { Gradle
  export GRADLE_USER_HOME="${XDG_DATA_HOME}/gradle"
# }

# { Maven
  export MAVEN_CONFIG="${XDG_CONFIG_HOME}/maven/settings.xml"
  file_exists "${MAVEN_CONFIG}" && alias mvn="mvn -s ${MAVEN_CONFIG}"
# }

# { Rust
  export RUSTUP_HOME="${XDG_DATA_HOME}/rustup"
  export CARGO_HOME="${XDG_DATA_HOME}/cargo"
  path=("${CARGO_HOME}/bin" $path)
# }

# { JetBrains
  export JETBRAINS_BIN="${XDG_DATA_HOME}/jetbrains/bin"
  path=("${JETBRAINS_BIN}" $path)
# }

# { Local Docker Compose
  export LOCAL_DOCKER_COMPOSE_DIR="${HOME}/Projects/@local-docker-compose"
# }

{{ if eq .deviceId "MACBOOKPRO-MUXIU" -}}
# { MuXiu1997 Personal
  export MUXIU1997_SSID_HOME={{
`-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAwcVR6Nk9jL3JvZzliMGVN
YWsyMGZUN2VtZHNqajZ3MER6SzFTQUsydm53CitIb2tpcXhLOEJhRXJsT1FBUVo0
and5TjUxcWhrWDdpelhiUUE1MlBGUFUKLS0tIE01MjV0SVZSMGNUS3VodWdVcTFU
QVd3em52RTlVQ202OHZ5WjBKckRFUDgKYEJObnrHUdBLGXm7qehsH779/6rEVa7z
XoqWUaSGexHulB80gVUhXnfWA5zk
-----END AGE ENCRYPTED FILE-----` | decrypt | quote }}
  export MUXIU1997_SSID_WORK={{
`-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBYUWN2b3J0WC9HYXJ1Uyt5
b1JWVXpTUVd0ZGx4NnVmYlVvT3lMYmhnNERrCjhVQnUyKzJZODVuR0lSN2ZPbW84
L3FOTTdNL2ZOSnd1a3AwV2VCMmIxN2MKLS0tIGdQRklYOWN6c3laTDBROXJ2TEJj
VStFblhXNlBOY0k4Rnl4MHVKVVYxN0UKG/LedLmvh+a8SJQdh/Efp3z6dTVYKj3F
IqY8e5HgRIqtkTHdNVnHpBGGXvfeW30y6Iycof0=
-----END AGE ENCRYPTED FILE-----` | decrypt | quote }}
  export MUXIU1997_NAS_HOST={{
`-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAwQ2g1NldRZVBnazlacC9P
dUsxdUJLcTZMWnVYeVJBNHZDeUo1MG9sTkJnClFCZ1VKWFh0TFpBR2ZuU1F5Sjdh
cGJOUW1SdUxIWjFyaWhCNXhzMlB3bmMKLS0tIE11NkJrZUIvZDVjcUNhczFYYk9i
SUNwbFBzY01uVU1HN3czbjF6bTN1bHMK1ds86gxz/5xKx5X5QVtGIdLbT86BkhXO
tuIBc4fsR7mB5M5geS6RFvQJlOWl7DYbopAY
-----END AGE ENCRYPTED FILE-----` | decrypt | quote }}
  export MUXIU1997_NAS_USERNAME={{
`-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBWTnBScFFlR3grbWZPTmVK
WS82c2dCbW1YYUc3Z0I1bEFlS0k5eS9LVTFVCmJFU0NLYVJVL1FkM01NTFIrVDg4
TnZFMHM5eWFOZUxpRTYzR2VYaTdQM2cKLS0tIFJONHN0eFh3Vlh2NjVYVmduUmtP
REx6VUwyRXQ4QUFUbUVYbG1qbFVscXcKn9+asURvHFuR38mOusZnwK2Qx2XpV3l1
I8wgAIDVtyF9xBCt4d8/uqg=
-----END AGE ENCRYPTED FILE-----` | decrypt | quote }}
  export MUXIU1997_NAS_PASSWORD={{
`-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqNTRlU2JIM21Cd0d2VWdu
Z1JMVG9ZaWtYRFVDMDFWTlhIUGI1QVRkV0UwCkxJTEVZTXdoRlpPazZLTFNVemhC
MTVNY2xTaUJUbjZJM2RIejhrVWlBeDgKLS0tIDBNOVNqT2lHNllRTTRaTS96enZP
ajFXU29pemd0Z29KRUZuVG56T280ZVkK+rgC1Y4h8sz4OBjch4EJhhhnTg6wJ2wJ
tC5LcVhnvvK2HcVIBnDkCM8KGA==
-----END AGE ENCRYPTED FILE-----` | decrypt | quote }}
# }
{{- end }}

file_exists_then_source "${ZDOTDIR}/.zshenv.local"

export USER_LOCAL_BIN="${HOME}/.local/bin"
path=("${USER_LOCAL_BIN}" $path)
fpath=("${XDG_DATA_HOME}/zsh/site-functions" $fpath)
