save-prefix=

# prefix is unnecessary (and unsupported) if Node.js is installed by nvm
# prefix=${XDG_DATA_HOME}/npm
cache=${XDG_CACHE_HOME}/npm
tmp=${XDG_RUNTIME_DIR}/npm
init-module=${XDG_CONFIG_HOME}/npm/config/npm-init.js

# pnpm
prefer-offline=true
store-dir=${XDG_DATA_HOME}/pnpm/store
global-dir=${XDG_DATA_HOME}/pnpm/global
global-bin-dir=${XDG_DATA_HOME}/pnpm/bin
state-dir=${XDG_STATE_HOME}/pnpm
cache-dir=${XDG_CACHE_HOME}/pnpm

{{ if eq .machineType "MAC" -}}
//registry.npmjs.org/:_authToken={{
`-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJYjFjSk5FeEExNHJNQ0pG
ZkxCQ0pBa2ZQelFCWkpuaWxQU2VNRTNzUzMwCnpRZ3h5WWJkVHozT2wwbXBiRTBm
Tk5OZ1BTaW1aWUs5OVp4bStVTis4TlUKLS0tIHMrYmNRdHBtcnBXTW4wRmdWVWZ0
Y3JuaDBMOUFCaG9saENMZkJCMzhOZ2cKUcQ8IDFoqAQAY9RxR051O0GnFOX0nyRS
qMGQP9haRX3LDD+JgAXTkOLa3jUJDRUpULN47XOvmABiAN+UA8pV5g0J7lF1ajAM
3A==
-----END AGE ENCRYPTED FILE-----` | decrypt }}
{{- end }}
