save-prefix=

# prefix is unnecessary (and unsupported) if Node.js is installed by nvm
# prefix=${XDG_DATA_HOME}/npm
cache=${XDG_CACHE_HOME}/npm
tmp=${XDG_RUNTIME_DIR}/npm
init-module=${XDG_CONFIG_HOME}/npm/config/npm-init.js

# pnpm
prefer-offline=true
global-bin-dir=${USER_LOCAL_BIN}

{{ if eq .machine_type "MAC" -}}
//registry.npmjs.org/:_authToken={{ joinPath .chezmoi.sourceDir "dot_config" "npm" "registry.npmjs.org.authtoken" | include | decrypt }}
{{- end }}
