save-prefix=

# prefix is unnecessary (and unsupported) if Node.js is installed by nvm
# prefix=${XDG_DATA_HOME}/npm
cache=${XDG_CACHE_HOME}/npm
tmp=${XDG_RUNTIME_DIR}/npm
init-module=${XDG_CONFIG_HOME}/npm/config/npm-init.js

# pnpm
store-dir=${XDG_DATA_HOME}/pnpm-store
prefer-offline=true

//registry.npmjs.org/:_authToken={{- (bitwardenFields "item" "770e6340-b63e-4a9f-9a52-b660c51fca93").authToken.value -}}

{{/*
# vim: set ft=sh:
*/}}
